.content_regisration{
    max-width: 800px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.logo_registration{
    background: url("../cummon/Header/Logo.png");
    width: 226px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.register_contaner{
    max-width: 500px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    flex-direction: column;
    border: 1px solid #9EDCFF;
    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);

    border-radius: 20px;
}

.register_title{

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;

    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 45px;
}

.decoration_line_login{
    height: 1px;
    background-color: #365CFF;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.register_contaner_inner{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}


.register_input{
    height: 32px;
    outline: none;
    border:1px solid #9EDCFF;
    border-radius: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    /* identical to box height */

    color: #000000;

}

.register_lable{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #000000;
    margin-bottom: 5px;
}

.login_button{

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #fff;
    background-color: #365CFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}