.footer{
    max-width: 1520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    cursor: default;
}

.footer_inner{
    display: flex;
    flex-direction: row;
}

.first_footer_contaner{
    margin-top: 30px;
    margin-right: 118px;
    display: flex;
    flex-direction: column;
}

.contaner_footer_title{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

}

.contaner_footer_subtitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    cursor: pointer;
    color: #000000;

    margin-top: 11px;
}

.contaner_footer_subtitle:hover{
    color: #365CFF;

}


.second_footer_contaner{
    margin-top: 30px;
    margin-right: 319px;
    display: flex;
    flex-direction: column
}

.third_footer_contaner{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 230px;
}

.footer_title{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;

    width: 65px;
    position: relative;

}

.footer_title::before{
    content: '';
    width: 100%;
    bottom:0;
    left:0;
    position: absolute;
    height: 1px;
    background-color: #365CFF;
}

.social_media{
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:180px;
}

.media_component_1{
    background: url("./Telegram App.png");
    height: 41px;
    width: 41px;
}

.media_component_2{
    background: url("./VK Circled.png");
    height: 41px;
    width: 41px;
}

.media_component_3{
    background: url("./WhatsApp.png");
    height: 41px;
    width: 41px;
}